In [1]:
#import pandas as pd
import numpy as np

In [5]:
def substract_mean(X):
    x_mean = np.mean(X)
    print(x_mean)
    
    return [elem - x_mean for elem in X]
X = [2,4,6,8,10]
print( substract_mean(X) )

6.0
[-4.0, -2.0, 0.0, 2.0, 4.0]

In [18]:
def get_covar1(X, Y):
    n = len(X)
    X = substract_mean(X)
    Y = substract_mean(Y)
    print(X)
    print(Y)
    sum1 = 0
    for x,y in zip(X,Y):
        print('x = ', x,' y = ', y)
        sum1 = sum1 + x*y
    # for sample population: 
    # return sum1 / (n-1)
    return sum1 / n


X = [22, 25, 28]
Y = [1998, 1995, 1992]

r = get_covar1(X,Y)
print(r)

25.0
1995.0
[-3.0, 0.0, 3.0]
[3.0, 0.0, -3.0]
x =  -3.0  y =  3.0
x =  0.0  y =  0.0
x =  3.0  y =  -3.0
-6.0

In [14]:
def get_covar2(X,Y):
    n = len(X)
    X = subtract_mean(X)
    Y = subtract_mean(Y)    
    return sum(i*j for i,j in zip(X,Y))/(n-1)
# or with lambda?

In [19]:
def correlation(X, Y):
    s_x = np.std(X) # ddof=0, for sample
    s_y = np.std(Y)
    print(s_x)
    print(s_y)
    return get_covar1(X,Y) / (s_x * s_y)

    # same: get_covar1(X,Y) / s_x / s_y

c = correlation(X,Y)
c

2.449489742783178
2.449489742783178
25.0
1995.0
[-3.0, 0.0, 3.0]
[3.0, 0.0, -3.0]
x =  -3.0  y =  3.0
x =  0.0  y =  0.0
x =  3.0  y =  -3.0

-1.0000000000000002

In [20]:
X = [1,3,5,7]
Y = [2,4,6,8]
correlation(X,Y)

2.23606797749979
2.23606797749979
4.0
5.0
[-3.0, -1.0, 1.0, 3.0]
[-3.0, -1.0, 1.0, 3.0]
x =  -3.0  y =  -3.0
x =  -1.0  y =  -1.0
x =  1.0  y =  1.0
x =  3.0  y =  3.0

0.9999999999999998

In [21]:
X = [1,3,5,20]
Y = [2,4,6,8]
correlation(X,Y)

7.495832175282475
2.23606797749979
7.25
5.0
[-6.25, -4.25, -2.25, 12.75]
[-3.0, -1.0, 1.0, 3.0]
x =  -6.25  y =  -3.0
x =  -4.25  y =  -1.0
x =  -2.25  y =  1.0
x =  12.75  y =  3.0

0.8800091009742755

In [22]:
X = [20, 18, 16]
Y = [2, 4, 8]
correlation(X,Y)

1.632993161855452
2.494438257849294
18.0
4.666666666666667
[2.0, 0.0, -2.0]
[-2.666666666666667, -0.666666666666667, 3.333333333333333]
x =  2.0  y =  -2.666666666666667
x =  0.0  y =  -0.666666666666667
x =  -2.0  y =  3.333333333333333

-0.9819805060619659

In [25]:
X = [22, 25, 28]
Y = [1998, 1995, 1992]
np.cov(X, Y)

array([[ 9., -9.],
       [-9.,  9.]])

In [28]:
import numpy as np
import pandas as pd
animals = pd.read_csv('animals.csv')
animals.corr()

          brainwt    bodywt
brainwt  1.000000  0.934154
bodywt   0.934154  1.000000

In [27]:
!pwd

/Users/tjerk/Downloads/lab-linear-regression-correlation/your-code

In [31]:
vehicles = pd.read_csv('vehicles.csv')
vehicles.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [32]:
vehicles['City MPG'].corr(vehicles['Highway MPG'])

0.92385558852884

In [34]:
cor_matrix = vehicles.corr()

In [35]:
cor_matrix[cor_matrix>0.9]

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Year,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Engine Displacement,NaN,1.000000,0.901858,NaN,NaN,NaN,NaN,NaN,NaN
Cylinders,NaN,0.901858,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
Fuel Barrels/Year,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.986189,0.916208
City MPG,NaN,NaN,NaN,NaN,1.000000,0.923856,0.985457,NaN,NaN
Highway MPG,NaN,NaN,NaN,NaN,0.923856,1.000000,0.969392,NaN,NaN
Combined MPG,NaN,NaN,NaN,NaN,0.985457,0.969392,1.000000,NaN,NaN
CO2 Emission Grams/Mile,NaN,NaN,NaN,0.986189,NaN,NaN,NaN,1.000000,0.930865
Fuel Cost/Year,NaN,NaN,NaN,0.916208,NaN,NaN,NaN,0.930865,1.000000

In [36]:
cor_matrix[ (cor_matrix>0.9) | (cor_matrix<-0.9) ]

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Year,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Engine Displacement,NaN,1.000000,0.901858,NaN,NaN,NaN,NaN,NaN,NaN
Cylinders,NaN,0.901858,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
Fuel Barrels/Year,NaN,NaN,NaN,1.000000,NaN,-0.909664,-0.909743,0.986189,0.916208
City MPG,NaN,NaN,NaN,NaN,1.000000,0.923856,0.985457,NaN,NaN
Highway MPG,NaN,NaN,NaN,-0.909664,0.923856,1.000000,0.969392,-0.926405,NaN
Combined MPG,NaN,NaN,NaN,-0.909743,0.985457,0.969392,1.000000,-0.926229,NaN
CO2 Emission Grams/Mile,NaN,NaN,NaN,0.986189,NaN,-0.926405,-0.926229,1.000000,0.930865
Fuel Cost/Year,NaN,NaN,NaN,0.916208,NaN,NaN,NaN,0.930865,1.000000

In [38]:
vehicles.shape

(35952, 15)